@page "/feats"
@inject HttpClient Http

<PageTitle>Черты - FerraTerra</PageTitle>

<h1>Черты - FerraTerra</h1>

@if(feats != null) {
    <section>
        @feats.Text
    </section>
    <ul>
        @foreach (var name in feats.Names)
        {
            <a href="/feat/@name">
                @((Http.GetFromJsonAsync<Feat>($"feats/{name}.json").ContinueWith<string>(feat => feat.Name).Run().Result))
            </a>
        }
    </ul>
}

@code{
    private FeatsData? feats;

    protected override async Task OnInitializedAsync()
    {
        feats = await Http.GetFromJsonAsync<FeatsData>("feats.json");
    }

    public record FeatsData(string Text, string[] Names);
    public record Feat(string Name);
}