@page "/feat/{id}"
@inject HttpClient Http

@if (feat != null) {
    <PageTitle>@feat.Name</PageTitle>
    <h1>@feat.Name</h1>
    <section>
        @feat.Text
    </section>
}

@code{
    [Parameter]
    public string Id { get; set; }

    private FeatData? feat;

    protected override async Task OnInitializedAsync()
    {
        feat = await Http.GetFromJsonAsync<FeatData>($"feats/{Id}.json");
    }

    public record FeatData(string Name, string Text);
}