@page "/feats"
@inject HttpClient Http

<PageTitle>Черты</PageTitle>

<h1>Черты</h1>

@if(feats != null) {
    <section>
        @feats.Text
    </section>
    <ul>
        @foreach (var item in feats.Items)
        {
            <a href="feat/@item.Key">
                @item.Value
            </a>
        }
    </ul>
} else {
    <p role="alert">Извините, данная страница недоступна.</p>
}

@code{
    private FeatsData? feats;

    protected override async Task OnInitializedAsync()
    {
        feats = await Http.GetFromJsonAsync<FeatsData>("feats.json");
    }

    public record FeatsData(string Text, Dictionary<string, string> Items);
}