@page "/races"
@inject HttpClient Http

<PageTitle>Расы - FerraTerra</PageTitle>

<h1>Расы - FerraTerra</h1>

@if(races != null) {
    <section>
        @races.Text
    </section>
    <ul>
        @foreach (var item in races.Items)
        {
            <a href="/race/@item.Key">
                @item.Value
            </a>
        }
    </ul>
}

@code{
    private RacesData? races;

    protected override async Task OnInitializedAsync()
    {
        races = await Http.GetFromJsonAsync<RacesData>("races.json");
    }

    public record RacesData(string Text, Dictionary<string, string> Items);
}