@page "/races"
@inject HttpClient Http

<PageTitle>Расы - FerraTerra</PageTitle>

<h1>Расы - FerraTerra</h1>

@if(races != null) {
    <section>
        @races.Text
    </section>
    <ul>
        @foreach (var name in races.Names)
        {
            <a href="/race/@name">
                @(Http.GetFromJsonAsync<Race>($"races/{name}.json").Name)
            </a>
        }
    </ul>
}

@code{
    private RacesData? races;

    protected override async Task OnInitializedAsync()
    {
        races = await Http.GetFromJsonAsync<RacesData>("races.json");
    }

    public record RacesData(string Text, string[] Names);
    public record Race(string Name);
}